<h1>投票系統</h1>
<%= notice %>

<h2>候選人列表</h2>
<table>
  <tr>
    <td>投票</td>
    <td>姓名</td>
    <td>黨派</td>
    <td>年齡</td>
    <td>票數</td>
  </tr>

  <% @candidates.each do |candidate|%>
    <tr>
      <td><%= link_to '投票', vote_candidate_path(candidate), method: 'post' %></td>
      <td><%= link_to candidate.name, candidate_path(candidate) %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.age %></td>
      <td><%= candidate.votelogs.count %></td>
      <td><%= link_to '編輯候選人', edit_candidate_path(candidate) %></td>
      <td>
      <%= link_to '刪除候選人', candidate_path(candidate), method: 'delete', data: {confirm: '確定刪除嗎？'}%>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to '新增候選人', new_candidate_path %>
